@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #5f788a;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 300;
}

ul {
    margin: 0;
}

/* header */

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

nav {
    height: 11vh;
}

.navbar-brand {
    color: #f9AA33;
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 34px;
}

nav .nav-item {
    list-style-type: none;
    margin: 3px 10px;
}

nav .nav-link {
    font-size: 22px;
    font-weight: 400;
    color: #cbd5db;
}

nav .nav-link:hover  {
    color: #ffffff;
}

nav .nav-link.active {
    font-weight: 500;
}

.bg-steel {
    background-color: #393f4d;
}


/* hero section */

.hero-section {
    margin-top: 120px;
    margin-bottom: 50px;
    height: 90vh;
}

.logo-half,
.typing {
    color: #f9AA33;
}

.btn {
    background-color: #f9AA33;
    margin-right: 16px;
    /* width: 160px; */
}

/* section  */



/* content/post section */

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.media {
    border-radius: 15px;
}

.card-mini {
    height: 78px;
    overflow: hidden;
}

.card-body h4 {
    font-weight: 500;
    font-size: 28px;
    border-bottom: 1px solid #e3e3e3;
}

a {
    text-decoration: none;
}

.post-section .card-body a {
    color: #f9AA33;
}

.post-section a.btn {
    color: #fff;
}

.post-section .btn a {
    color: #fff;
}

a:hover {
    color: #393f4d;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-top: 4px;
    margin-top: 4px;
    margin-bottom: -8px;
    border-top: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
