{% extends "blog/base.html" %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <article class="media content-section">
            <div class="card-body">
                <h2 class="card-title">Introduction</h2>
                <p class="card-text">
                    Welcome to our tech community blog! We are passionate about fostering a thriving community
                        of tech enthusiasts, where knowledge sharing and collaboration are at the core. In this
                        about page, I would like to share the story of how this project came to life and the
                        inspiration behind it.
                    </p>
            </div>
        </article>
        <article class="media content-section">
            <div class="card-body">
                <h2 class="card-title">The Story</h2>
                <p class="card-text">
                    It all began with my deep-rooted love for technology and the desire to create a platform that
                     brings together like-minded individuals on a single virtual space. As a senior developer, I have
                      witnessed the power of communities where individuals come together to share their knowledge,
                       experiences, and insights.
                    </p>
            </div>
        </article>
        <article class="media content-section">
            <div class="card-body">
                <h2 class="card-title">The Inspiration</h2>
                <p class="card-text">
                    My inspiration for this project stems from the countless hours spent exploring various tech communities
                     and realizing the immense value they offer. The idea was not merely to create another blog, but to
                     establish a vibrant hub where individuals can connect, learn, and grow side by side. I envisioned a
                     place that encourages collaboration, sparks innovation, and fosters a sense of belonging within the
                     tech community.
                    </p>
            </div>
        </article>
        <article class="media content-section">
            <div class="card-body">
                <h2 class="card-title">Overall</h2>
                <p class="card-text">
                    The timeline for this project was carefully planned to ensure that the about page would be completed within a
                     reasonable time frame. I allocated specific deadlines for different stages of the project, such as gathering
                      inspiration, drafting the personal story, designing the layout, and implementing the final version.
                </p>
                <p class="card-text">
                    Mentioning that this project is a Portfolio Project, it indicates that it is a showcase of my skills and
                    capabilities as a junior developer. It serves as evidence of my ability to create well-designed and functional
                     web pages.
                </p>
                <p class="card-text">
                    For the github repository, I have created a dedicated repository for this project where all the code and related
                     files are stored. This allows for easy access and collaboration with other developers who may be interested in
                     contributing to the project or reviewing the code.
                    </p>
                <a class="btn btn-lg" href="https://github.com/Yohannes90/Django-blog">Github repo</a>

            </div>
        </article>
    </div>
</div>
{% endblock content %}
