{% extends "blog/base.html" %}


{% block content %}
    <div class="container-fluid">
        <a class="btn btn-primary mt-4 mb-4" href="{% url 'category-create' %}">Add Category</a>
    </div>
    {% for category in categories %}
          <article class="media content-section">
            <div class="card-body">
                <h2><a class="card-title" href="{% url 'category-posts' category %}">{{ category }}</a></h2>
                <div class="article-metadata">
                    <a class="btn btn-info mb-4" href="{% url 'category-update' category.id %}">Update</a>
                    <a class="btn btn-info mb-4" href="{% url 'category-delete' category.id %}">Delete</a>
                </div>
            </div>
          </article>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class="btn btn-info mb-4" href=">page=1">First</a>
          <a class="btn btn-info mb-4" href=">page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
{% endblock content %}
